aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
asgiref
attrs
autobahn
Automat
awsebcli
beautifulsoup4
boto3
botocore
cachetools
cassandra-driver
cement
certifi
cffi
channels
channels-redis
charset-normalizer
click
colorama
constantly
coreapi
coreschema
crispy-bootstrap4
crispy-bootstrap5
cryptography
daphne
decorator
defusedxml
diff-match-patch
dj-database-url
Django
django-admin-sortable2
django-anymail
django-bootstrap4
django-ckeditor
django-ckeditor-5
django-cors-headers
django-crispy-forms
django-dbbackup
django-dotenv
django-environ
django-extensions
django-import-export
django-jazzmin
django-js-asset
django-recaptcha
django-rest-auth
django-rest-framework
django-six
django-static-fontawesome
django-storages
django-user-agents
djangorestframework
djangorestframework-simplejwt
drf-yasg
environs
et_xmlfile
frozenlist
geoip2
geomet
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
gunicorn
httplib2
humanize
hyperlink
idna
imageio
imageio-ffmpeg
incremental
inflection
itypes
Jinja2
jmespath
Markdown
MarkupPy
MarkupSafe
marshmallow
maxminddb
moviepy
msal
msgpack
multidict
numpy
oauthlib
odfpy
openpyxl
packaging
pandas
pathspec
pillow
proglog
propcache
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1_modules
pycountry
pycparser
PyJWT
pyOpenSSL
pyparsing
pypiwin32
python-dateutil
python-dotenv
python3-openid
pytz
pywin32
PyYAML
razorpay
redis
requests
requests-oauthlib
rjsmin
rsa
s3transfer
semantic-version
service-identity
setuptools
shortuuid
six
soupsieve
sqlparse
stripe
tablib
termcolor
tqdm
twilio
Twisted
txaio
typing_extensions
tzdata
ua-parser
ua-parser-builtins
uritemplate
urllib3
user-agents
wcwidth
whitenoise
xlrd
xlwt
yarl
zope.interface
