{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list category_tags %}

{% block content %}
<div id="content-main">
  <div class="module" id="changelist">
    <div class="results">
      <table id="result_list">
        <thead>
          <tr>
            <th scope="col">
              <div class="text">
                <span>Category Hierarchy</span>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for category in categories %}
            <tr class="{% cycle 'row1' 'row2' %}">
              <td>
                <div style="padding-left: {{ category.level|multiply:20 }}px;">
                  <a href="{% url 'admin:store_category_change' category.id %}">
                    {% if category.icon %}
                      <i class="fa {{ category.icon }}"></i>
                    {% endif %}
                    {{ category.title }}
                  </a>
                  {% if category.is_featured %}
                    <span class="badge badge-success">Featured</span>
                  {% endif %}
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block pagination %}{% endblock %}